
div.main{
    width: 90%;
    margin: auto;
}

div.home{
    padding-top: 100px;
}

.btn-info {
    opacity: 0.8;
}

.page-header {
    padding-top: 100px !important;
    min-height: 40vh !important;;
    max-height: 400px !important;;
}

.table-list {
    width: 100%;
    align: center;
    margin: auto;
    position: relative;
}

.list-element{
    height: 50px;
    background: radial-gradient(ellipse at bottom, #292D61 30%, #171941 80%);
    margin: 0 auto 10px;
    border: 1px solid #3d3d79;
    border-left: 6px solid #00f2c3;
}

.table-header {
    width: 100%;
    margin: 0 auto 10px;
    background-color: #2a2b59;
    width: 100%;
    font-family: arial, sans-serif;
}

/*a[href^="/"] {*/
    /*text-decoration: underline;*/
    /*color: #1d8cf8 !important;*/
/*}*/

.list-row {
    height: inherit;
    margin: auto;
    padding: 10px;
}

.semi-title{
    text-align: left;
    font-size: 1.4375rem;
}

table {
    background: radial-gradient(ellipse at bottom, #292D61 30%, #171941 80%);
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    border: 1px solid #3d3d79;
}

h1, h2, h3, body{
    color: #ffffff;
}

.text-on-back-large {
     font-size: 4em !important;

}
